<a href="https://colab.research.google.com/github/Limdongkeun/python-homework/blob/main/01HW20220221%EC%9E%84%EB%8F%99%EA%B7%BC32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
print('Hello world!')

Hello world

In [ ]:
#2
print('Mary\'s cosmetics')

Mary's cosmetics

In [ ]:
#3
print('신씨가 소리질렀다. "도둑이야".')
print('신씨가 소리질렀다. \"도둑이야\".')

신씨가 소리질렀다. "도둑이야".
신씨가 소리질렀다. "도둑이야".

In [ ]:
#4
print('"C:\Windows"')

"C:\Windows"

In [ ]:
#5
print("\\n 은 줄바꿈 \\t은 간격주기")

\n 은 줄바꿈 \t은 간격주기

In [ ]:
#6
print('"오늘은","일요일"')

"오늘은""일요일"

In [ ]:
#7
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [ ]:
#8
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [ ]:
#9
print('first',end=',')
print('second')

first,second

In [1]:
#10
a = 5
b = 3
print(a/b)

1.6666666666666667

In [4]:
#11
삼성전자 = 50000
print(f'{삼성전자*10}')
print(삼성전자*10)

500000
500000

In [6]:
#12
시가총액 = 298
현재가 = 50000
per = 15.79
di1 = {"시가총액":298, "현재가":50000, "per":15.29}
print(f'시가총액은 {시가총액}, 현재가는{현재가}, per은{per}')

시가총액은 298, 현재가는50000, per은15.79

In [9]:
#13
s = "hello"
t = "python"
print(f'{s}! {t}')

hello! python

In [10]:
#14
a = 2
b = 2 
c = 3
print(a+b*c)

8

In [12]:
#15
a = "132"
print(type(a))

a = 132
print(type(a))

<class 'str'>
<class 'int'>

In [14]:
#16
num = "720"
print(int(num))
print(type(num))

720
<class 'str'>

In [17]:
#17
num = 100
print(str(num))
print(type(num))

100
<class 'int'>

In [18]:
#18
num = "15.79"
print(float(num))

15.79

In [22]:
#19
year = "2020"
print(f'{int(year)-2},{int(year)-1}, {int(year)}, {int(year)+1}')

2018,2019, 2020, 2021

In [35]:
#20
price = 48584
total = price * 36

print(format(price,','))
print(f'에어컨의 총 금액은{total:,}원이며, 36개월 할부로 결제시 청구 요금은 {price:,}')
print(f'에어컨의 금액은 {total}원이며 36개월 할부로 결제시 청구 요금은 {price}입니다')

48,584
에어컨의 총 금액은1,749,024원이며, 36개월 할부로 결제시 청구 요금은 48,584
에어컨의 금액은 1749024원이며 36개월 할부로 결제시 청구 요금은 48584입니다